
.form-layout{

    border-radius: 15px;
    width: 500px;
    color: rgb(109, 220, 144);
    background-color: rgb(85, 193, 108);
    

}

.message-text{

    color: rgb(149, 149, 149);

}

.p4{
    color: rgb(0, 0, 0);
}

h6{
    color: black;
    font-family: fantasy;
    font-size: xx-large;
}

.p2{
    color: yellow;
}

.card-text{
    background-color: #000;
    text-decoration: double;
}


.footer {
    background-color: red;
    color: #333;
    padding: 2rem 0;
    text-align: center;
}

.social-icons a {
    color: #333;
    margin: 0 10px; /* Space out icons */
    font-size: 1.2rem; /* Increase icon size if desired */
}

.social-icons a:hover {
    color: #555; /* Darker color on hover */
}

.footer p {
    margin-bottom: 0;
}