{% extends 'webapp/base.html' %}

{% block content %}

<body>
<!-- Contact Section -->
<div class="container mt-2 text-center ">
    <h6>CONTACT US</h6>
    <hr>
    <div class="card text-center mx-auto" style="max-width: 500px;">
        <div class="card-header"> MURIMASCHOOL </div>
        <div class="card-body">
            <h5 class="card-title">FIND US VIA</h5>
            <p class="card-text">
                📞 PHONE: 0110928039 <br><br>
                📧 EMAIL: murimaschools@gmail.com <br><br>
                📷 INSTAGRAM: murimaschools.ke
            </p>
        </div>
        <div class="card-footer text-muted">2025</div>
      </div>
      <hr>
</body>
{% endblock %}