{% extends 'webapp/base.html' %}

{% block content %}

<body>

    <div class="text-center">

<div class="head"><h6> CONTACT US</h6>

</div>

    <hr>



    <div class="card text-center">
        <div class="card-header">
          VEE MANAGEMENT SOFTWARE
        </div>
        <div class="card-body">
          <h5 class="card-title">FIND US VIA</h5>
          <p class="card-text">PHONE: 0110928039.
            <br>
            <br>
            EMAIL: veesoftware@gmail.com.
            <br>
            <br>
            INSTAGRAM: veemgm.ke.
          </p>

        </div>
        <div class="card-footer text-body-secondary">
          2025
        </div>
      </div>



</body>
{% endblock %}