{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body class="bg-dark text-light">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
    <h3>Create Assignment</h3>
    <br>
    <form method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <br>
        <button type="submit" class="btn btn-success">Post Assignment</button>
        <br>
        <br>
        <a href="{% url 'admin-dashboard' %}" class="btn btn-primary">Back</a>
    </form>
</div>
{% endblock %}

