{% extends 'webapp/base.html' %}


{% block content %}

<h5>Karibu, {{ user }}! 👋</h5>
<hr>

{% if request.user.is_authenticated and request.user.is_superuser %}
    <a href="{% url 'create-record' %}" class="btn btn-primary">
        Create new record &nbsp; <i class="fa fa-plus-circle"></i>
    </a>
{% else %}
    <p>HERE IS YOUR PAGE, HAVE FUN & STUDY.</p>
{% endif %}
<hr>
{% if request.user.is_authenticated and request.user.is_superuser %}
    <a href="{% url 'admin-dashboard' %}" class="btn btn-primary">Admin Dashboard</a>
{% else %}
    <p>MURIMA SCHOOL.</p>
{% endif %}

<hr> 
<a href="{% url 'ask_question' %}" class="btn btn-primary">Ask</a>
<hr>
<a href="{% url 'question_list' %}" class="btn btn-primary">Questions</a>
<hr>
<a href="{% url 'assignments' %}" class="btn btn-primary">Assignments</a>
<hr>


<button id="payNowBtn" class="btn btn-primary">
    Lipa Na M-pesa <i class="fa fa-mobile"></i>
</button>
<hr>

<script>
    document.getElementById("payNowBtn").addEventListener("click", function() {
        let phoneNumber = prompt("Enter your phone number (2547XXXXXXXX):");
        let amount = prompt("Enter the amount to pay:");

        if (phoneNumber && amount) {
            fetch("{% url 'mpesa_pay' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: new URLSearchParams({
                    phone_number: phoneNumber,
                    amount: amount
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert("Payment failed: " + data.error);
                } else {
                    alert("Payment request sent. Enter your MPESA PIN to confirm.");
                }
            })
            .catch(error => console.error("Error:", error));
        }
    });
</script>




{% endblock %}
















