{% extends 'webapp/base.html' %}

{% block content %}

<body>
    
    <br>
    <br>

    <div class="text-center">

    <h3> ProjectV....Management at it's finest! </h3>

    <br>

    <h5> Hifadhi rekodi za kampuni yako upesi na rahisi! </h5>

    <hr>

    <br>


<hr>
    <a class="btn btn-primary" type="button" href="{% url 'register' %}"><p4> Create your account </p4> </a>

    <a class="btn btn-primary" type="button" href="{% url 'contact' %}"><p4> Contact us </p4> </a>

    <hr>

    <p2>We are Kenyan based IT-firm committed to providing great software and system solutions to local companies and organisations and beyond.</p2>
    <br>
    <p2>Pricing is fair and available for all.</p2>
</div>

<hr>

<div class="card-group">
    <div class="card">
        <br>
      <img src="https://tse1.mm.bing.net/th?id=OIG2.11oY02PtgQDItOWh35Fl&pid=ImgGn" class="card-img-top" alt="width" style="width: auto; border-radius: 30px; margin: 20px;">
      <div class="card-body">
        <hr>
        <h5 class="card-title">Our software</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
      </div>
    </div>
    <div class="card">
        <br>
      <img src="https://tse3.mm.bing.net/th?id=OIG2.O97oV2FhlgUvwqvOdyXU&pid=ImgGn" class="card-img-top" alt="width" style="width: auto; border-radius: 30px;margin: 20px;">
      <div class="card-body">
        <hr>
        <h5 class="card-title">The team</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
      </div>
    </div>
    <div class="card">
        <br>
      <img src="https://tse2.mm.bing.net/th?id=OIG3.8ScdXG30eJyGm1MgaCMi&pid=ImgGn" class="card-img-top" alt="width" style="width: auto; border-radius: 30px; margin: 20px;">
      <div class="card-body">
        <hr>
        <h5 class="card-title">The Firm</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-body-secondary"></small></p>
      </div>
    </div>
  </div>



  <footer class="footer mt-3 py-3 bg-success shadow-md p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h5>About Us</h5>
                <p>This is a sample description about your company or project. Include relevant information here.</p>
                <ul class="list-unstyled">
                    <li><a href="contact">CONTACT US</a></li>
                    <li><a href="my-login">LOGIN</a></li>
                    <li><a href="register">REGISTER</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="mb-0">Copyright &copy; 2025 Vee software solutions. All rights reserved.</p>

            </div>
        </div>
    </div>
</footer>


</body>
{% endblock %}