{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<body>
    <body class="bg-dark text-light">
        <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
                <h3 class="text-center text-light">Login to Your Account</h3>
                <hr class="bg-light">
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100 mt-3 rounded shadow">
                        Create an Account
                    </button>
                </form>
                <div class="text-center mt-4">
                    <p>Already have an account?</p>
                    <a href="{% url 'my-login' %}" class="btn btn-link text-primary">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}